:root {
    --primary-green: #9DAA75;
    --accent-blue: #AED5EB;
    --light-blue: #E3F5FF;
    --bg-gray: #ECECEC;
    --dark-text: #49433E;
    --white: #FFFFFF;
}

body {
    font-family: 'Segoe UI', sans-serif; /* Enligt profil */
    background-color: var(--bg-gray);
    color: var(--dark-text);
    margin: 0;
    padding-bottom: 80px;
}

.profile-text {
    margin-bottom: 12px;
    color: var(--primary-green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Accordion styling */
.accordion-item {
    background: var(--light-blue);
    margin: 5px 10px;
    border-radius: 8px;
    overflow: hidden;
}

summary {
    padding: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid var(--accent-blue);
}

.menu-week {
    font-weight: normal;
    font-size: 1rem;
}
.content {
    padding: 15px;
    background: var(--white);
}